name: Build and Deploy

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install Dependencies
        run: npm install

      - name: Build Angular App
        run: npm run build -- --base-href /

      - name: Add CNAME and Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          # Автоматичний пошук папки зі збіркою
          folder: dist/skypizza-app/browser
          branch: gh-pages
          clean: true
          # Додаємо CNAME прямо через екшн або перед ним
          cname: skypizza.itkamianets.com
