name: Build and Deploy

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install Dependencies
        run: npm install

      - name: Build Angular App
        run: npm run build -- --base-href /

      - name: Add CNAME file
        run: |
          # Find the dist folder and put CNAME in its root and sub-browser if it exists
          if [ -d "dist/skypizza-app/browser" ]; then
            echo "skypizza.itkamianets.com" > dist/skypizza-app/browser/CNAME
          fi
          if [ -d "dist/skypizza-app" ]; then
            echo "skypizza.itkamianets.com" > dist/skypizza-app/CNAME
          fi

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist/skypizza-app
          # Ми деплоїмо весь вміст dist/skypizza-app, щоб GitHub сам знайшов index.html
          branch: gh-pages
          clean: true
